{% extends "base.html" %} 
{% block title %}main{% endblock %} 
{% block content %}
<h1>SecondChance</h1>
<div class="keterangan">
    <p>
        SecondChance is a website for selling unused items that are still of good quality to others.
    </p>
    <p>
        SecondChance is a project by {{nama}} with npm {{npm}} class {{kelas}}
    </p>
</div>

<a class="add_product" href="{% url 'main:add_product'%}">add product</a>

<table style="border:1px solid black;">
    <thead>
        <tr>
            <th>name</th>
            <th>category</th>
            <th>stock</th>
            <th>price</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url "main:logout" %}">
    <button>Log Out</button>
</a>

{% endblock %}
